.github/**
.vscode/**
.vscode-test/**
node_modules/**
out/**
dist/test/**
dist/**/*.map
dist/editor/*.js
dist/editor/*.css
src/**
screenshots/**
examples/**
test/**
docs/**
.cache/**
locales/**
scripts/**
test-resources/**

.gitignore
.gitattributes
.editorconfig
package-lock.json
tsconfig.json
eslint.config.js
tsup.config.ts
vite.config.ts
vitest.config.mts
*.zip
*.vsix
